<form method="post" action="{{ path('image_project_delete', {'id': image_project.id}) }}" onsubmit="return confirm('Voulez-vous vraiment cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_project.id) }}">
    <button class="btn">Supprimer</button>
</form>
